<!doctype html>
<html class="no-js" lang="{{- pageLang -}}">
    <head>
        <meta charset="utf-8">
        <title>{{- pageTitle -}}</title>
        <meta name="description" content="{{- pageDescription -}}">
        <meta name="keywords" content="{{- pageKeywords -}}">
        <link rel="canonical" href="{{- cannonicalUrl -}}">
        <base href="{{- config.site.url.base -}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%- block styles -%}
        {%- endblock -%}
    </head>

    <body>
        {%- block main -%}
      {{- content | safe -}}
    {%- endblock -%}
    </body>
</html>