---
title: Eleventy Core Boilerplate
description: Eleventy Core boilerplate is a starter file that is unopionated and optimized for today's demanding web applications. We are proud to present to you the most useful and realistic use of the Eleventy Static Site Generator.
keywords: Eleventy, 11ty, Static Site, Boilerplate, Starter File
robots:
    allow: true
---

{% extends "page.njk" %}

{% block content %}
<h1>Home Page</h1>
<p>This is a test paragraph.</p>
{% endblock %}