---
title: Eleventy Core Boilerplate
description: Eleventy Core boilerplate is a starter file that is unopionated and optimized for today's demanding web applications. We are proud to present to you the most useful and realistic use of the Eleventy Static Site Generator.
keywords: Eleventy, 11ty, Static Site, Boilerplate, Starter File
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta name="keywords" content="{{ pageKeywords }}">
    <link rel="canonical" href="{{ cannonicalUrl }}">
</head>
<body>
    {{ content }}
</body>
</html>